/* GENERAL RULES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TYPO RULES */
html {
    font-size: 10px;
}

* {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
}

.fsz12 {
    font-size: 1.2rem;
}

h2,
h3 {
    color: white;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2.2rem;
}

h4 {
    font-size: 1.9rem;
    color: #7b7d82;
}

h5 {
    font-size: 1.8rem;
    color: #7b7d82;
}


/* COLORS */
/* 
    footer background #282828
    progress bar #5a5a5a
    progress bar hover #adff2f
    upper menu text #76787d
*/
    /* background-colors */
    .bg_black {
        background-color: black;
    }
    .bg_primary {
        background-color: #141922;
    }
    .bg_sec {
        background-color: #a3a3a3;
    }
    .bg_third {
        background-color: #282828;
    }

    /* text-colors */
    .color_main {
        color: white;
    }
    .color_sec {
        color: #a3a3a3;
    }

/* UTILITIES */

    /* misc */
    .ov-hidden {
        overflow: hidden;
    }

    .centered {
        margin: 0 auto;
    }

    .btn {
        background-color: transparent;
        color: white;
        padding: 10px 15px;
        border-radius: 20px;
        border: 2px solid white;
    }

    /* imgs */
    .contain-center {
        object-fit: contain;
        object-position: center;
    }

    .circle {
        border-radius: 50%;
    }

/* FLEX */
.flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}

.grow {
    flex-grow: 1;
}
.grow2 {
    flex-grow: 2;
}
.noshrink {
    flex-shrink: 0;
}
.jc-center {
    justify-content: center;
}
.jc-end {
    justify-content: flex-end;
}
.ai-center {
    align-content: center;
}
.self-end {
    align-self: flex-end;
}

/* TEXT ALIGNING */
.ta-center {
    text-align: center;
}


/* SPACING */

    /* width */
    .w100 {
        width: 100%;
    }
    .w30 {
        width: 30%;
    }
    .w35px {
        width: 35px;
    }
    .w70 {
        width: 70%;
    }

    /* height */
    .h100 {
        height: 100%;
    }
    .h30px {
        height: 30px;
    }
    .h35px {
        height: 35px;
    }
    .h40px {
        height: 40px;
    }
    .h80px {
        height: 80px;
    }

    /* padding */
    .py3px {
        padding-block: 3px;
    }
    .py15px {
        padding-block: 15px;
    }
    .p5px {
        padding: 5px;
    }
    .p15px {
        padding: 15px;
    }
    .px8px {
        padding-inline: 8px;
    }

    /* margin */
    .my5px {
        margin-block: 5px;
    }
    .mtop-10px {
        margin-top: 10px;
    }
    .mb-10px {
        margin-bottom: 10px;
    }
    .mb-50px {
        margin-bottom: 50px;
    }


/* LAYOUT */

body {
height: 100vh;
}

/* MAIN */

    /* SIDE BAR */
    aside {
        width: 55px;
    }


    /* PLAYABLE */
    .upgrade-cta {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .playable-navigator ul li {
        display: inline-block;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.2rem;
        padding-inline: 8px;
        
        color: #a3a3a3;
    }

    .playable-navigator ul li:after {
        content: '';
        width: 35px;
        border-bottom:2px solid #adff2f;
        background-color: #adff2f;
        display: none;
        margin: 0 auto;
    }

    .playable-navigator ul li:hover:after {
        display: block;
    }


/* FOOTER */
footer {
    width: 100%;
}