/* GENERAL RULES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TYPO RULES */
html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

h2,
h3 {
    font-weight: 600;
    color: white;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2.2rem;
}

h4 {
    font-size: 1.9rem;
    color: #7b7d82;
}

h5 {
    font-size: 1.8rem;
    color: #7b7d82;
}

.fsz18 {
    font-size: 1.8rem;
}

/* COLORS */
/* 
    footer background #282828
    progress bar #5a5a5a
    progress bar hover #adff2f
    upper menu text #76787d
*/
    /* background-colors */
    .bg_black {
        background-color: black;
    }
    .bg_primary {
        background-color: #141922;
    }
    .bg_sec {
        background-color: #a3a3a3;
    }
    .bg_third {
        background-color: #282828;
    }

    /* text-colors */
    .color_main {
        color: white;
    }
    .color_sec {
        color: #a3a3a3;
    }

/* UTILITIES */

    /* misc */
    .ov-hidden {
        overflow: hidden;
    }

    /* imgs */
    .contain-center {
        object-fit: contain;
        object-position: center;
    }

    .circle {
        border-radius: 50%;
    }

/* FLEX */
.flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.grow {
    flex-grow: 1;
}
.grow2 {
    flex-grow: 2;
}
.noshrink {
    flex-shrink: 0;
}
.jc-center {
    justify-content: center;
}
.ai-center {
    align-content: center;
}
.self-end {
    align-self: flex-end;
}

/* TEXT ALIGNING */
.ta-center {
    text-align: center;
}


/* SPACING */

    /* width */
    .w100 {
        width: 100%;
    }
    .w30 {
        width: 30%;
    }
    .w35px {
        width: 35px;
    }
    .w70 {
        width: 70%;
    }

    /* height */
    .h100 {
        height: 100%;
    }
    .h30px {
        height: 30px;
    }
    .h35px {
        height: 35px;
    }
    .h40px {
        height: 40px;
    }
    .h80px {
        height: 80px;
    }

    /* padding */
    .py3px {
        padding-block: 3px;
    }
    .py15px {
        padding-block: 15px;
    }
    .p2px {
        padding: 2px;
    }
    .px8px {
        padding-inline: 8px;
    }

    /* margin */
    .my5px {
        margin-block: 5px;
    }
    .mb-10px {
        margin-bottom: 10px;
    }


/* LAYOUT */

body {
height: 100vh;
}

/* MAIN */

    /* SIDE BAR */
    aside {
        width: 55px;
        padding-block: 4px 15px;
    }


    /* PLAYABLE */


/* FOOTER */
footer {
    width: 100%;
}